@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300;1,400&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    height: 97vh;
    background-image: url(../imgs/background.png);
    color: #fff;
}

.wrapper__technology{
    background-color: #28282B;
    color: #fff;
}

.technology__content{
    height: 60vh;
    background-color: #28282B;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technology__content div {
    width: 11em;
    height: 7em;
    margin: 0 10px;
    padding: 0 5px;
}

.technology__content div img {
    width: 100%;
    height: 100%;
    transition: all 308ms;
    position: relative;
}

.technology__content div img:hover{
    transform: scale(1.30);
}

.hero__navbar{
    background-color: #202022;
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.brand{
    margin-top: -7px;
}

.brand span{
    color: #51e6be;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active{
    color: #64F4AC;
}

.menu a:hover{
    background-color: #64F4AC;
    color: rgb(42, 68, 42);
    transition: ease-in .4s;
}

.main{
    margin: 0 auto;
    width: 70vw;
    height: 60vh;
    display: flex;
    align-items: center;
    gap: 5em;
}

.info-content{
    display: block;
    margin: auto;
}

h1{
    font-size: 2em;
}

span{
    color: #64F4AC;
}

.start{
    color: #2D2E32;
    padding: 10px 20px;
    background-color: #64F4AC;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.start:hover{
    box-shadow: 1px 1px 20px 1px #64F4AC;
    color: #2D2E32;
    
}

.main img{
    border-bottom : 7px solid #64F4AC;
}

.about{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
    background-color: #202022;
}

.about img{
    width: 80%;
    grid-column: 1/5;
}

.about-info{
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2{
    font-size: 2em;
    color: #fff;
}

.divider{
    height: 4px;
    width: 60px;
    background-color: #64F4AC;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p{
    margin-bottom: 1em;
    color: #fff;
}

.hero__navbar-portfolio{
    background-color: #28282B;
    color: #fff;
}

.portfolio{
    width: 100vw;
    color: #fff;
    background-color: #28282B;
}

.portfolio-headings{
    width: 100vw;
    padding: 5em;
}

.portfolio-headings h2{
    font-size: 2.5em;
}

.portfolio .container{
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card{
    width: 300px;
    height: 350px;
    color: #fff;
    background-color: #549676;
    margin: 1em;
}

.card__img{
    width: 100%;
    height: 150px;
    background-image: url(../imgs/2-original.png);
    background-size: cover;
}

.card__title{
    padding: 20px;
}

.card__title-html{
    text-align: center;
    padding: 5em;
    background-color: #28282B;
}

.card__projects-links{
    display: flex;
    justify-content: space-evenly;
}

.card__projects-links a{
    color: #fff;
    text-decoration: none;
}

.card__projects-links i{
    font-size: 1.5em;
}

.button-content{
    display: flex;
    justify-content: center;
    margin: 1em;
}

.card .project-details{
    margin: 1em;
    margin: 0 auto;
    width: 70%;
    
}

.card .project-details a{
    text-decoration: none;
    color: #2D2E32;
    text-transform: uppercase;
}

.project-details-content{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.project-details-button a{
    text-decoration: none;
    color: #2D2E32;
}

.contact-form{
    margin-left: 10%;
}

.contact-section{
    background-color: #202022;
    color: #fff;
   
}

.contact-headings {
    width: 100vw;
    padding: 5em;
}

.contact-headings h2{
    font-size: 3em;
    color: #fff;
}

.container-contact{
    display: flex;
    padding: 3em;
    margin: 0 auto;
}

.container-contact img{
    width: 700px;
    height: 800px;
    margin: 0px;
      
}

.form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #64F4AC;
    color: #fff;
}

.form textarea{
    height: 150px;
    background: none;
    color: #fff;
    padding: 1.5em;
    border: 1px solid #64F4AC;
}

.btn-submit{
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #64F4AC;
    border-radius: 20px;
    cursor: pointer;
}

.btn-submit:hover{
    box-shadow: 1px 1px 20px 1px #64F4AC;
}

.footer{
    border-top : 1px solid #64F4AC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #202022; 
    color: #fff;   
}

.footer-content h2{
    font-size: 1em;
}
.footer-content h5{
    font-size: 1.5em;
}

.social-network{
    display: flex;
    justify-content: space-between;
    width: 250px;
    list-style-type: none;
}

.social-network li{
    font-size: 2em;
}

.social-network a{
    color: gray;
}

.social-network a:hover{
    color: white;
}

/* responsive index */
@media screen and (max-width: 360px) {
    body{
        width: 480px;
    }

    .main img{
        display: none;
    } 
    
    .brand h2{
        display: flex;
        font-size: 23px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        align-items: flex-end;
    }

    .menu a{
        font-size: 15px;
    }

    .info-content h1{
        font-size: 30px;
        margin: 10px;
        text-align: center;
    }

    .info-content h2{
        margin: 10px;
        text-align: center;
        font-size: 20px;
    }

    .staart{
        justify-content: center;
        margin: 20px;
        display: flex;
        text-decoration: none;   
    }

    .footer{
        height: 232px;
        font-size: 12px;
    } 
    
    /*responsive about-me */
    .wrapper__about-me{
        background-color: #202022;
        width: 100vw;
        height: 100vh;
        color: #fff;
    }
    
    .brand h2{
        display: flex;
        font-size: 23px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        align-items: flex-end;
    }

    .menu a{
        font-size: 15px;
               
    }

    .about-info h2{
        font-size: 35px;          
    }

    .about-info p{
        text-align: center;
        font-size: 15px;
    }

    .about{
        display: flex;
        justify-content: center;
    }

    .about img{
      display: none;
    }
    
    .footer-content h2,
    .footer-content h5{
        font-size: 15px;
        text-align: center;
    }

    .social-network i{
        font-size: 30px;
    }

    /* responsive portfolio */
    .hero__navbar-portfolio{
        background-color: #28282B;
        width: 100vw;
        height: 20vh;
        color: #fff;
    }
    
    .brand h2{
        display: flex;
        font-size: 23px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        align-items: flex-end;
    }

    .menu a{
        font-size: 15px; 
    }

    .portfolio .container{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 90%;
     }

    .card2, .card3{
        display: none;
    }

    .footer-content h2,
    .footer-content h5{
        font-size: 15px;
        text-align: center;
    }

    .social-network i{
        font-size: 30px;
    }
    
    /* responsive contact */
    .hero__navbar{
        background-color: #202022;
        width: 100vw;
        height: 20vh;
        color: #fff;
    }
    .brand h2{
        display: flex;
        font-size: 23px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        align-items: flex-end;
    }

    .menu a{
        font-size: 15px; 
    }

    .contact-headings h2{
        font-size: 33px;
    }

    .container-contact img{
        display: none;
    }

    .contact-form .form input{
        font-size: 20px;
    }

    .contact-form .form textarea{
        font-size: 15px;
    }

    .contact-form .form button{
        font-size: 11px;
    }

    .contact-form .form {
        width: 90%;
    }

    .contact-form h4{
        font-size: 20px;
    }

    /* responsive technology */
    .wrapper__technology{
        background-color: #28282B;
        width: 100vw;
        color: #fff;
    }

    .brand h2{
        display: flex;
        font-size: 23px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        align-items: flex-end;
    }

    .menu a{
        font-size: 15px; 
    }

    .portfolio-headings h2{
        font-size: 30px;
    }

    .technology__content{
        display: block;
    }

    .technology__content div {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 740px){
    /* responsive index */
    body{
        width: 480px;
    }

    .main{
        display: flex;
        text-align: center;
    }

    .main img{
        display: none;
    }
       
    .brand h2{
        display: flex;
        font-size: 25px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        align-items: flex-end;
    }

    .info-content h1{
        font-size: 20px;
        margin: 10px;
        text-align: center;
    }

    .info-content h2{
        margin: 10px;
        text-align: center;
        font-size: 20px;
    }

    .staart{
        justify-content: center;
        margin: 20px;
        display: flex;
        text-decoration: none;   
    }

    .footer{
        height: 232px;
        font-size: 20px;
    }

    /* responsive about me */
    .wrapper__about-me{
        background-color: #202022;
        width: 100vw;
        height: 100vh;
        color: #fff;
    }

    .about-info h2{
        font-size: 28px;
    }

    .footer-content h2,
    .footer-content h5{
        font-size: 15px;
        text-align: center;
    }

    .social-network i{
        font-size: 25px;
    }

    /* responsive portfolio */
    .hero__navbar-portfolio{
        background-color: #28282B;
        width: 100vw;
        color: #fff;
    }

    .about-info h2{
        font-size: 28px;
    }

    .portfolio-headings h2{
        font-size: 30px;
    }
    
    .footer-content h2,
    .footer-content h5{
        font-size: 15px;
        text-align: center;
    }

    .social-network i{
        font-size: 25px;
    }

    /* responsive contact */
    .hero__navbar{
        background-color: #202022;
        width: 100vw;
        color: #fff;
    }

    .contact-section{
        width: 100vw;
    }

    .contact-headings h2{
        font-size: 30px;
    }

    .container-contact img{
        display: none;
    }

    .contact-form h4{
        font-size: 25px;
    }

    .about-info h2{
        font-size: 28px;
    }

    .portfolio-headings h2{
        font-size: 30px;
    }
    
    .footer-content h2,
    .footer-content h5{
        font-size: 15px;
        text-align: center;
    }

    .social-network i{
        font-size: 25px;
    }

    /* responsive technology */
    .wrapper__technology{
        width: 100vw;
    }

    .portfolio-headings h2{
        font-size: 28px;
    }
}

